<%
for(var key in items){
var item = items[key];
%>
<div>
    <label><%=labels['option_' + (parseInt(key) + 1)] %></label>
    <span>
        <%
        if(item.percent != 0){
        print( _.translate(Math.round(item.percent * 100)) + "%") ;
        }else{
        print(_.translate(0))
        }
        %>
    </span>
</div>
<%}%>

