<div class="modal-dialog link-modal">
    <div class="modal-content">
        <%if(category == 1){%>
        <div class="modal-body row active" style="padding: 40px;">

            <form class="item-form col-md-10">
                <div class="control-group" style="margin-bottom: 10px;">
                    <input type="text" name="title" placeholder="<%=labels.title%>" value="<%=title%>"/>
                </div>

                <div>
                    <textarea id="content" name="description" placeholder="<%=labels.desc%>"><%=description%></textarea>
                </div>
            </form>

            <div class="col-md-2">
                <div style="width: 100px; height: 100px;padding: 10px; border: 1px dashed #666666">
                    <img class="image-preview" style="width: 100%;height: 100%;" src=""/>
                </div>
                <div id="upload_btn_container" style="margin: 0;">
                    <a class="add-image right" id="file_upload_btn" style="width: 105px;text-align: center;"><%=labels.add_img%></a>
                    <p id="uploadfiles" class="hide"></p>
                    <div class="progress left hide" style="width: 300px;">
                        <div class="bar"></div>
                        <span class="plupload_total_status"></span>
                    </div>
                </div>
            </div>

            <div class="clear"></div>
        </div>
        <%}else{%>
        <div class="modal-body active" style="padding: 40px;">

            <form class="item-form">
                <div>
                    <textarea id="content" name="description" placeholder="<%=labels.do_you_know%>"><%=description%></textarea>
                </div>
            </form>
            
            <div class="clear"></div>
        </div>
        <%}%>
        <div class="modal-footer">
            <a type="button" class="btn btn-default" data-dismiss="modal"><%=labels.cancel%></a>
            <%if(!id){%>
            <a class="btn btn-primary create-item"><%=labels.save%></a>
            <%}else{%>
            <a class="btn btn-primary update-item" id="<%=id%>"><%=labels.update%></a>
            <%}%>
        </div>
    </div>
</div>

