<%if(viewMode == "view"){%>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="/r/<%=id%>">
        <div class="caption">
            <h4><%=title%></h4>
            <p><%=description%></p>
        </div>
        <p class="btn-wrapper">
            <span class="badge delete"><%=labels.delete%></span>
            <span class="badge switch-mode"><%=labels.edit%></span>
        </p>
    </div>
</div>
<%}else{%>
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="/r/<%=id%>">
        <form class="form">
            <div class="control-group">
                <textarea name="title" class="title" placeholder="<%=labels.title%>"><%=title%></textarea>
            </div>
            <div class="control-group">
                <textarea name="description" class="description" placeholder="<%=labels.desc%>"><%=description%></textarea>
            </div>
            <p>
                <a role="button" class="btn btn-primary switch-mode"><%=labels.cancel%></a>
                <a role="button" class="btn btn-default edit-item"><%=labels.save%></a>
            </p>
        </form>
    </div>
</div>
<%}%>
