<%if(target == "educations"){%>
<form class="item-form">
    <div class="control-group">
        <input type="text" name="title" placeholder="<%=labels.title%>" value="<%=title%>"/>
    </div>

    <div>
        <textarea id="content" name="description" placeholder="<%=labels.desc%>"><%=description%></textarea>
    </div>
</form>
<div id="btn_container">
    <a class="btn btn-primary btn-success save"><%=labels.save%></a>
    <a class="btn btn-default add-image right" id="image_upload_btn"><%=labels.add_img%></a>
    <p id="uploadfiles" class="hide"></p>
    <div class="progress left hide" style="width: 300px;">
        <div class="bar"></div>
        <span class="plupload_total_status"></span>
    </div>

    <div class="upload-image-progress">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"x>
            </div>
        </div>
        <span class="plupload_upload_status"></span>
    </div>
</div>
<div style="clear: both;"></div>
<div style="clear: left;" class="images-list"></div>
<%}%>

<%if(target == "news"){%>
<form class="item-form">

    <div class="control-group">
        <label><%=labels.news_type%></label>
        <select name="type">
            <option value="0"><%=labels.other_news%></option>
            <option value="1"><%=labels.internal_news%></option>
            <option value="2"><%=labels.announcements%></option>
            <!--<option value="3"><%=labels.papercuts%></option>-->
            <option value="4"><%=labels.festivals_news%></option>
        </select>
    </div>

    <div class="control-group">
        <label><%=labels.title%></label>
        <input type="text" name="title" placeholder="<%=labels.title%>" value="<%=title%>" required />
    </div>

    <div class="control-group">
        <label><%=labels.shortDesc%></label>
        <textarea name="shortDesc" placeholder="<%=labels.shortDesc%>" required rows="4"><%=shortDesc%></textarea>
    </div>

    <div class="control-group">
        <label><%=labels.longDesc%></label>
        <textarea id="content" name="longDesc" placeholder="<%=labels.longDesc%>" rows="8"><%=longDesc%></textarea>
    </div>

    <div class="control-group" style="padding-right: 100px;">
        <input type="checkbox" name="notification" value="1"/>
        <label>Notification</label>
    </div>
</form>
<div id="btn_container">
    <a class="btn btn-primary btn-success save"><%=labels.save%></a>
    <a class="btn btn-default add-image" id="image_upload_btn"><%=labels.add_img%></a>
    <p id="uploadfiles" class="hide"></p>
    <div class="progress left hide" style="width: 300px;">
        <div class="bar"></div>
        <span class="plupload_total_status"></span>
    </div>


    <div class="upload-image-progress">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"x>
            </div>
        </div>
        <span class="plupload_upload_status"></span>
    </div>

</div>
<div style="clear: left;" class="images-list"></div>
<%}%>

<%if(target == "strategies"){%>
<form class="item-form">

    <div class="control-group">
        <label><%=labels.title%></label>
        <input type="text" name="title" placeholder="<%=labels.title%>" value="<%=title%>" required />
    </div>
    <input name="type" value="6" type="hidden"/>

    <div class="control-group">
        <label><%=labels.description%></label>
        <textarea id="content" name="longDesc" placeholder="<%=labels.description%>" rows="8"><%=longDesc%></textarea>
    </div>

</form>
<div id="btn_container">
    <a class="btn btn-primary btn-success save"><%=labels.save%></a>
    <a class="btn btn-default add-image" id="image_upload_btn"><%=labels.add_img%></a>
    <p id="uploadfiles" class="hide"></p>
    <div class="progress left hide" style="width: 300px;">
        <div class="bar"></div>
        <span class="plupload_total_status"></span>
    </div>


    <div class="upload-image-progress">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"x>
            </div>
        </div>
        <span class="plupload_upload_status"></span>
    </div>

</div>
<div style="clear: left;" class="images-list"></div>
<%}%>


<%if(target == "photoCoverage"){%>
<form class="item-form">
    <input type="hidden" name="type" value="3"/>
    <div class="control-group">
        <label><%=labels.title%></label>
        <input type="text" name="title" placeholder="<%=labels.title%>" value="<%=title%>" required />
    </div>
    <input name="type" value="5" type="hidden"/>
    <div class="control-group">
        <label><%=labels.description%></label>
        <textarea name="shortDesc" placeholder="<%=labels.description%>" required rows="8"><%=shortDesc%></textarea>
    </div>
</form>

<div id="btn_container">
    <a class="btn btn-primary btn-success save"><%=labels.save%></a>
    <a class="btn btn-default add-image" id="image_upload_btn"><%=labels.add_img%></a>
    <p id="uploadfiles" class="hide"></p>
    <div class="progress left hide" style="width: 300px;">
        <div class="bar"></div>
        <span class="plupload_total_status"></span>
    </div>


    <div class="upload-image-progress">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"x>
            </div>
        </div>
        <span class="plupload_upload_status"></span>
    </div>

</div>
<div style="clear: left;" class="images-list"></div>
<%}%>


<%if(target == "memories"){%>
<form class="item-form">
    <div class="control-group">
        <input type="text" name="title" placeholder="<%=labels.title%>" value="<%=title%>" required/>
    </div>
    <div>
        <textarea id="content" name="description" placeholder="<%=labels.memory_description%>" required><%=description%></textarea>
    </div>
</form>
<div>
    <p id="uploadfiles" class="hide"></p>
    <div class="progress left hide" style="width: 300px;">
        <div class="bar"></div>
        <span class="plupload_total_status"></span>
    </div>

    <a class="btn btn-primary btn-success save"><%=labels.save%></a>
</div>
<div style="clear: left;" class="images-list"></div>
<%}%>


<%if(target == "links"){%>
<h4><%= "URL معتبر خودرا وارد نمایید و یا فایل (.pdf) خود را بارگذاری نماپید."%></h4>
<form class="item-form">
    <div class="control-group">
        <input type="text" name="title" placeholder="<%=labels.title%>" value="<%=title%>" style="width: 100%;" required/>
    </div>
    <div class="control-group">
        <input  name="path"  placeholder="<%=labels.path%>" value="<%=path%>" style="width: 100%;text-align: left;" required/>
    </div>
</form>
<div id="btn_container">
    <a class="btn btn-primary add-image" id="image_upload_btn"><%=labels.upload_file%></a>
    <p id="uploadfiles" class="hide"></p>
    <div class="progress left hide" style="width: 300px;">
        <div class="bar"></div>
        <span class="plupload_total_status"></span>
    </div>

    <a class="btn btn-primary btn-success save"><%=labels.save%></a>

    <div class="upload-image-progress">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"x>
            </div>
        </div>
    </div>
</div>
<%}%>

<%if(target == "offices"){%>
<form class="item-form">
    <div class="control-group">
        <label><%=labels.name%>:</label>
        <input type="text" name="title" value="<%=title%>" required/>
    </div>
    <div class="control-group">
        <label><%=labels.siteUrl%>:</label>
        <input type="text" name="siteUrl" value="<%=siteUrl%>"/>
    </div>
    <div class="control-group">
        <label><%=labels.email%>:</label>
        <input type="text" name="email" value="<%=email%>"/>
    </div>
    <div class="control-group">
        <label><%=labels.ceo%>:</label>
        <input type="text" name="ceo" value="<%=ceo%>" required/>
    </div>
    <div class="control-group">
        <label><%=labels.tell%>:</label>
        <input type="text" name="tell" value="<%=tell%>" required/>
    </div>
    <div class="control-group">
        <label><%=labels.fax%>:</label>
        <input type="text" name="fax" value="<%=fax%>"/>
    </div>
    <div class="control-group">
        <label><%=labels.desc%>:</label>
        <textarea  name="description" placeholder="<%=labels.description%>" style="width: 400px;"><%=fax%></textarea>
    </div>
</form>
<div id="btn_container">
    <a class="btn btn-primary add-image" id="image_upload_btn"><%=labels.add_img%></a>
    <p id="uploadfiles" class="hide"></p>
    <div class="progress left hide" style="width: 300px;">
        <div class="bar"></div>
        <span class="plupload_total_status"></span>
    </div>

    <a class="btn btn-primary btn-success save"><%=labels.save%></a>

    <div class="upload-image-progress">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"x>
            </div>
        </div>
        <span class="plupload_upload_status"></span>
    </div>
</div>
<div style="clear: left;" class="images-list"></div>
<%}%>


<%if(target == "projects"){%>
<form class="item-form project-form">

    <div class="control-group">
        <label><%=labels.openingDate%>:</label>
        <input class="datePicker" type="text" id="openingDate" value="<%=openingDate%>" style="width: 200px;"/>
        <input type="hidden" name="openingDate" value="<%=openingDate%>" />
    </div>
    
    <div class="control-group">
        <label><%=labels.title%></label>
        <input type="text" name="name"  value="<%=name%>" required />
    </div>

    <div class="control-group">
        <label><%=labels.location%></label>
        <input type="text" name="location"  value="<%=location%>" required />
    </div>

    <div class="control-group">
        <label><%=labels.progress%></label>
        <input type="text" name="progress"  value="<%=progress%>"  />
    </div>

    <div class="control-group">
        <label><%=labels.aims%></label>
        <textarea name="aims" rows="3"><%=aims%></textarea>
    </div>

    <div class="control-group">
        <label><%=labels.actions%></label>
        <textarea name="actions" rows="6"><%=aims%></textarea>
    </div>

</form>
<div id="btn_container">
    <a class="btn btn-primary btn-success save"><%=labels.save%></a>
    <a class="btn btn-default add-image" id="image_upload_btn"><%=labels.add_img%></a>
    <p id="uploadfiles" class="hide"></p>
    <div class="progress left hide" style="width: 300px;">
        <div class="bar"></div>
        <span class="plupload_total_status"></span>
    </div>


    <div class="upload-image-progress">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"x>
            </div>
        </div>
        <span class="plupload_upload_status"></span>
    </div>

</div>
<div style="clear: left;" class="images-list"></div>
<%}%>