
<div class="second-navbar">
    <span data-type="1" class="selected"><%=labels.specialty_paper_waste%></span>
    <span data-type="2"><%=labels.english_paper_waste%></span>
    <span data-type="3"><%=labels.educational_paper_waste%></span>
    <span data-type="4"><%=labels.books_recycled_art%></span>
    <a class="pull-left add-item"><%=labels.add%></a>
</div>


<div class="modal fade" id="new-item-modal"></div>
<div class="back">
    <%=labels.back%>
    <i class="glyphicon glyphicon-chevron-left"></i>
</div>
<div class="items-wrapper" style="margin-top: 30px;"></div>