<div class="login-logo">
    <img width="100" height="100" src="/img/logo.jpg"/>
</div>

<!--<p class="login-title"><%=labels.green_land%></p>-->


<div class="login_msg">
    <span style="font-size: 23px;display: block"><%=labels.login_msg%></span>
    <span style="font-size: 40px;"><%=labels.green_land%></span>
</div>

<div class="control-group">
    <input type="text" name="username" id="username" placeholder="<%=labels.username%>"/>
</div>

<div class="control-group">
    <input type="password" name="password" id="password" placeholder="<%=labels.password%>"/>
</div>
<div class="control-group">
    <button type="button" class="btn btn-primary pull-left login"><%=labels.login%></button>
</div>

<h6 style="bottom: 3px;
    direction: ltr;
    font-family: tahoma;
    font-size: 11px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
    ">
    <!--همهٔ حقوق برای آفران محفوظ است. ©‏-->
    Copyright 2014 <a href="http://afaraan.com/" target="_blank">Afaraan</a>. All rights reserved.
</h6>