<div class="modal-content">
    <div class="modal-body" style="height: 300px;">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#map" role="tab" data-toggle="tab"><%=labels.map%></a></li>
            <li><a href="#info" role="tab" data-toggle="tab"><%=(parentId) ? labels.market_info : labels.square_info%></a></li>
            <li><a href="#upload_image" role="tab" data-toggle="tab"><%=labels.upload_image%></a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane " id="info">
                <form class="market-form">
                    <div class="control-group">
                        <div>
                            <label><%= (parentId) ? labels.market_code : labels.square_code%></label>
                            <input type="text" name="marketCode"  value="<%=marketCode%>" />
                        </div>
                        <div>
                            <label><%=labels.activity_type%></label>
                            <select name="activityType">
                                <option value="1"><%=labels.permanent%></option>
                                <option value="2"><%=labels.neighborhood%></option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <div>
                            <label><%=labels.name%></label>
                            <input type="text" name="name"  value="<%=name%>" required />
                        </div>
                        <div>
                            <label><%=labels.parking%></label>
                            <input type="text" name="parking"  value="<%=parking%>" />
                        </div>
                        <!--                        <div>
                                                    <label><%=labels.establishDate%></label>
                                                    <input type="text" name="establishDate"  value="<%=establishDate%>" />
                                                </div>-->
                    </div>

                    <!--                    <div class="control-group">
                                            <div>
                                                <label><%=labels.boothCount%></label>
                                                <input type="text" name="boothCount"  value="<%=boothCount%>" />
                                            </div>
                                            <div>
                                                <label><%=labels.conexCount%></label>
                                                <input type="text" name="conexCount"  value="<%=conexCount%>" />
                                            </div>
                                        </div>-->



                    <!--                    <div class="control-group">
                                            <div>
                                                <label><%=labels.kioskCount%></label>
                                                <input type="text" name="kioskCount"  value="<%=kioskCount%>" />
                                            </div>
                                            <div>
                                                <label><%=labels.placeCount%></label>
                                                <input type="text" name="placeCount"  value="<%=placeCount%>" />
                                            </div>
                                        </div>-->


                    <!--                    <div class="control-group">
                                            <div>
                                                <label><%=labels.locationCount%></label>
                                                <input type="text" name="locationCount"  value="<%=locationCount%>" />
                                            </div>
                                            <div>
                                                <label><%=labels.frankishCount%></label>
                                                <input type="text" name="frankishCount"  value="<%=frankishCount%>" />
                                            </div>
                                        </div>-->

                    <!--                    <div class="control-group">
                                            <div>
                                                <label><%=labels.customerCount%></label>
                                                <input type="text" name="customerCount"  value="<%=customerCount%>" />
                                            </div>
                                            <div>
                                                <label><%=labels.parking%></label>
                                                <input type="text" name="parking"  value="<%=parking%>" />
                                            </div>
                                        </div>-->

                    <div class="control-group">
                        <div>
                            <label><%=labels.tell%></label>
                            <input type="text" name="tell"  value="<%=tell%>" />
                        </div>
                        <div>
                            <label><%=labels.fax%></label>
                            <input type="text" name="fax"  value="<%=fax%>" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label><%=labels.address%></label>
                        <textarea name="address" style="width: 544px;" required><%=address%></textarea>
                    </div>
                </form>
            </div>

            <div class="tab-pane active" id="map">
                <div class="gmap3" style="width: 100%;height: 100%;"></div>
            </div>

            <div class="tab-pane" id="upload_image">
                <div id="btn_container" style="margin: 0;clear: both;">
                    <a class="btn btn-primary add-image right" id="image_upload_btn"><%=labels.add_img%></a>
                    <p id="uploadfiles" class="hide"></p>
                    <div class="progress left hide" style="width: 300px;">
                        <div class="bar"></div>
                        <span class="plupload_total_status"></span>
                    </div>
                    <div style="clear: both;"></div>

                    <div class="upload-image-progress">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <span class="plupload_upload_status"></span>
                    </div>

                </div>
                <div class="images-list"></div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <a type="button" class="btn btn-default" data-dismiss="modal"><%=labels.cancel%></a>
        <%if(!id){%>
        <a class="btn btn-primary save"><%=labels.save%></a>
        <%}else{%>
        <a class="btn btn-primary save" id="<%=id%>"><%=labels.update%></a>
        <%}%>
    </div>
</div>