<div class="icons">
    <i class="glyphicon glyphicon-trash delete"></i>
    <i class="glyphicon glyphicon-edit edit-market"></i>
</div>

<%if(photos.length){%>
<div class="col-md-10 item-content-view">
    <h4 class="list-group-item-heading" data-parent="<%=parentId%>"  style="cursor: <%=(parentId == 0) ? 'pointer' : 'default'%>;"><%=name%></h4>
</div>
<div class="col-md-2 item-content-view">
    <img src="<%= '/r/' + photos[0].id%>"/>
</div>
<%}else{%>
<div class="col-md-12 item-content-view">
    <h4 class="list-group-item-heading" data-parent="<%=parentId%>" style="cursor: <%=(parentId == 0) ? 'pointer' : 'default'%>;"><%=name%></h4>
</div>
<%}%>