<div class="icons">
    <i class="glyphicon glyphicon-trash delete"></i>
    <i class="glyphicon glyphicon-edit edit"></i>
</div>

<div class="col-md-9 project-item" style="height: 75%; float: right;">
    <div class="control-group">
        <label><%=labels.project_name%>:</label>
        <span><%=name%></span>
    </div>
    <div class="control-group">
        <label><%=labels.aims%>:</label>
        <span><%=aims%></span>
    </div>
    <div class="control-group">
        <label><%=labels.actions%>:</label>
        <span><%=actions%></span>
    </div>
    <div class="control-group">
        <label><%=labels.openingDate%>:</label>
        <span><%=_.getPersioanDate(openingDate)%></span>
    </div>
    <div class="control-group">
        <label><%=labels.progress%>:</label>
        <span><%= parseInt(progress) || ""%></span>
    </div>
    <div class="control-group">
        <label><%=labels.location%>:</label>
        <span><%=location%></span>
    </div>


</div>
<%if(photos.length){%>
<div id="<%=id%>" class="col-md-3 carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <%if(photos.length > 1){%>
    <ol class="carousel-indicators">
        <%_.each(photos, function(photo, index){%>
        <li data-target="#<%=id%>" data-slide-to="<%=index%>" class="<%=(index == 0) ? 'active' : ''%>"></li>
        <%})%>
    </ol>
    <%}%>
    <!-- Wrapper for slides -->

    <div class="carousel-inner" style="height: 300px;">
        <%_.each(photos, function(photo, index){%>
        <div class="item  <%=(index == 0) ? 'active' : ''%>">
            <!--<img src="/r/<%=photo.id%>" alt="">-->
            <div class="img" style="background-image: url('/r/<%=photo.id%>')"></div>
            <div class="carousel-caption"></div>
        </div>
        <%})%>
    </div>

    <!-- Controls -->
    <%if(photos.length > 1){%>
    <a class="left carousel-control" href="#<%=id%>" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#<%=id%>" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <%}%>
</div>
<%}%>