<%
var type = (type == 1 ) ? "checkbox" : "radio";
%>
<div class="item-wrapper row" id="<%=(index + 1)%>">
    <div class="col-md-2 btn-wrapper">
        <span class="badge delete_question"><%=labels.delete%></span>
        <!--<span class="badge edit_question"><%=labels.edit%></span>-->
    </div>
    <div class="col-md-10 item-content-view">
        <ul>
            <span><%= _.translate((index + 1))%>-&nbsp;</span> <%=question%>
            <%_.each(items, function(item, idx){%>
            <li class="option_item">
                <input type="<%=type%>" disabled="disabled" 
                       <%if(answer == idx){ print("checked=true");}%>
                       <span style="margin-right: 5px;"><%=item.text%></span>
            </li>
            <%})%>
        </ul>
    </div>
</div>