
<%if(!mode || mode == "new"){%>

<%
var typTxt =  type;


switch(typTxt){
case "1" :
typTxt = 'poll';
break;

case "2" :
typTxt = 'contest';
break;

case "3" :
typTxt = 'exam';
break;
}
%>

<form class="question_form">
    <%if(type == "poll" || type == 1){%>
    <div class="control-group">
        <label><%=labels.question_type%></label>
        <select name="type" class="selectpicker question_type">
            <option value="2" <%if(type == 2){print('selected')}%> ><%=labels.single_option%></option>
            <option value="1"   <%if(type == 1){print('selected')}%> ><%=labels.multi_options%></option>
        </select>
    </div>
    <%}%>
    <div class="control-group">
        <textarea class="question" placeholder="<%=labels.question_body%>"><%=question%></textarea>
    </div>
    <div class="options">
        <div class="row" style="direction: ltr;">
            <div class="col-lg-6 right">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <%=labels.option_1%>
                        </button>
                        <%if(type != "poll"){%>
                        <input type="radio" name="answer" value="0"/>
                        <%}%>

                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <%=labels.option_2%>
                        </button>
                        <%if(type != "poll"){%>
                        <input type="radio" name="answer" value="1"/>
                        <%}%>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="direction: ltr;">
            <div class="col-lg-6 right">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <%=labels.option_3%>
                        </button>
                        <%if(type != "poll"){%>
                        <input type="radio" name="answer" value="2"/>
                        <%}%>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <%=labels.option_4%>
                        </button>
                        <%if(type != "poll"){%>
                        <input type="radio" name="answer" value="3"/>
                        <%}%>
                    </span>
                </div>
            </div>
        </div>
        <%if(type == "poll"){%>
        <div class="row" style="direction: ltr;">
            <div class="col-lg-6 right">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <%=labels.option_5%>
                        </button>
                        <%if(type != "poll"){%>
                        <input type="radio" name="answer" value="4"/>
                        <%}%>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <%=labels.option_6%>
                        </button>
                        <%if(type != "poll"){%>
                        <input type="radio" name="answer" value="5"/>
                        <%}%>
                    </span>
                </div>
            </div>
        </div>
        <%}%>
    </div>

    <a class="btn btn-primary add_question"><%=labels.add_question%></a>

</form>

<%}else{%>


<form class="question_form">
    <div class="control-group">
        <label><%=labels.question_type%></label>
        <select name="type" class="selectpicker question_type">
            <option value="2" <%if(type == "2"){print('selected');}%>><%=labels.single_option%></option>
            <option value="1" <%if(type == "1"){print('selected');}%>><%=labels.multi_options%></option>
        </select>
    </div>
    <div class="control-group">
        <textarea class="question" placeholder="<%=labels.question_body%>"><%=question%></textarea>
    </div>
    <div class="options">
        <div class="row" style="direction: ltr;">
            <div class="col-lg-6 right">
                <div class="input-group">
                    <input type="text" class="form-control" value="<%= items[0] &&  items[0].text%>">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <%=labels.option_1%>
                        </button>
                        <%if(type != 1){%>
                        <input type="radio" name="answer" value="0"/>
                        <%}%>

                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" value="<%= items[1] && items[1].text%>">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <%=labels.option_2%>
                        </button>
                        <%if(type != 1){%>
                        <input type="radio" name="answer" value="1"/>
                        <%}%>
                    </span>
                </div>
            </div>
        </div>
        <div class="row" style="direction: ltr;">
            <div class="col-lg-6 right">
                <div class="input-group">
                    <input type="text" class="form-control" value="<%=items[2] && items[2].text%>">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <%=labels.option_3%>
                        </button>
                        <%if(type != 1){%>
                        <input type="radio" name="answer" value="2"/>
                        <%}%>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" value="<%= items[3] && items[3].text%>">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <%=labels.option_4%>
                        </button>
                        <%if(type != 1){%>
                        <input type="radio" name="answer" value="3"/>
                        <%}%>
                    </span>
                </div>
            </div>
        </div>
        <%if(type == 1){%>
        <div class="row" style="direction: ltr;">
            <div class="col-lg-6 right">
                <div class="input-group">
                    <input type="text" class="form-control" value="<%= items[4] && items[4].text%>">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <%=labels.option_5%>
                        </button>
                        <%if(type != 1){%>
                        <input type="radio" name="answer" value="4"/>
                        <%}%>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control" value="<%= items[5] && items[5].text%>">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <%=labels.option_6%>
                        </button>
                        <%if(type != 1){%>
                        <input type="radio" name="answer" value="5" />
                        <%}%>
                    </span>
                </div>
            </div>
        </div>
        <%}%>
    </div>

    <a class="btn btn-primary update_question" id="<%=cid%>"><%=labels.update_question%> &nbsp;<%= _.translate(index)%></a>
    <a class="btn btn-primary cancel"><%=labels.cancel%></a>

</form>
<%}%>