<div class="second-navbar">
    <span class="selected" data-type="1"><%=labels.offices%></span>
    <span data-type="2"><%=labels.booths%></span>
    <a class="pull-left add-item"><%=labels.add%></a>
</div>

<div class="items-wrapper">
    <table class="table table-striped" style="display: none;">
        <thead>
            <tr id="station_header" style="display: none;">
                <th style="width: 8%;"><%=labels.code%></th>
                <th style="width: 7%;"><%=labels.areaCode%></th>
                <th style="width: 7%;"><%=labels.regionCode%></th>
                <th ><%=labels.address%></th>
                <th style="width: 14%;"><%=labels.tell%></th>
                <th></th>
            </tr>
            <tr id="office_header">
                <th style="width: 7%;"><%=labels.regionCode%></th>
                <th style="width: 13%;"><%=labels.manager_name%></th>
                <th style="width: 10%;"><%=labels.mobile%></th>
                <th style="width: 10%;"><%=labels.office_tell%></th>
                <th style="width: 10%;"><%=labels.fax%></th>
                <th><%=labels.address%></th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>