<script type="text/javascript">
    window.Gmailcontacts = <?php print json_encode($this->gmail_contacts) ?>;
    window.Gmailmembers = <?php print json_encode($this->gmail_members) ?>;
    window.Yahoocontacts = <?php print json_encode($this->yahoo_contacts) ?>;
    window.Yahoomembers = <?php print json_encode($this->yahoo_members) ?>;
    window.Fbcontacts = <?php print json_encode($this->fb_contacts) ?>;
    window.Fbmembers = <?php print json_encode($this->fb_members) ?>;
    window.Twittercontacts = <?php print json_encode($this->twitter_contacts) ?>;
    window.Twittermembers = <?php print json_encode($this->twitter_members) ?>;    
</script>
<div class="content"></div>