<div class="modal flickr-gallery-modal" tabindex="-1" role="dialog" aria-labelledby="html-configs-label" aria-hidden="true">
    <div class="modal-header">
        
        <h4><%=name%></h4>
    </div>
    
    <div class="modal-body">
        <div id="container" style="text-align: center">
            <img src="r/<%=id%>">
        </div>
    </div>
    
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>
