<div id ="header-container"></div>

<div class="filters-container navbar navbar-static-top" id="primary-nav">
    <div class="navbar-inner">
        <span class="des">Photos</span>         
    </div>
    <span class="shadow-toolbar"></span>
</div>
<div class="clear"></div>
<div class="list-feeds-container">
    <h3><div class="album-title"></div></h3>
    <hr>

    <!--width: 450px; height:160px;float:left-->
    <!--  FOR FELX SLIDER   <div class="flexslider">
            <ul class="slides resources-list"></ul>
        </div>-->

    <ul class="resources-list" style="position:relative">

    </ul>   
</div>

<div class="cr-pagination"><span><%= labels.next_page %></span></div>

