<form id="change-password-form">
    <div class="change-password-forms">
        <div class="control-group new_password">
            <label class="control-label"><%=labels.oldPassword%></label>
            <input  type="password" name="old" value="" class=" " maxlength="30" type="text" id="old_password">
        </div>

        <div class="new_password control-group">
            <label class="control-label"><%=labels.newPassword%></label>
            <input  type="password" name="newPass" value="" class=" " maxlength="30" type="text" id="new_password">
            <span class="error-message-profile"></span>
        </div>

        <div class="confirm_password">
            <label class="control-label"><%=labels.confirmNewPassword%></label>
            <input type="password" name="confirm" value="" class=" " maxlength="30" type="text" id="confirm_password">
        </div>
        <span class="change-pass-msg"></span>
        <div class="btn-save-password">
            <a class="btn btn-primary btn-success" id ="save-password" ><%=labels.change%></a>
        </div>
        <span class="error extra-chars" style="display: none;"><%=labels.morthan6charachterwarnin%></span>
        <span class="error match-passes" style="display: none;"><%=labels.mathpasswordwarning%></span>
        <span class="error einter-oldpass" style="display: none;"><%=labels.enterOldpass%></span>
        <span class="error wrong-oldpass" style="display: none;"><%=labels.wrongOldpass%></span>
    </div>
    <div class="clear"></div>
</form>

<div class="modal fade change-password-suuccessfully" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div style="clear: both;
                     font-size: 20px;
                     line-height: 50px;
                     text-align: center;">
                    <%=labels.passwordChnagedSuccessfull%>
                </div>
            </div>
        </div>
    </div>
</div>
