<div class="clear"></div>
<div class="container">
    <div class="span2"></div>
    <div class="edit-profile">
        <div class="edit-detail">
            <form id ="edit-profile-save"> 
                <div> 
                    <div class="profile-img">
                        <input id ="photo-id-edit-profile" name="photo_id" value="<%= photo_id%>" type="hidden">

                        <div style=" padding: 3px;border: 1px solid #CCC;border-radius: 50% 50% 50% 50%;width: 182px;height: 182px;">
                            <span class="default-user-large-1">
                                <img src="<%='r/' + photo_id%>"/>                                    
                            </span>
                        </div>
                        <div id="user-image-upload">
                            <div class="upload-img-user"> <a class="btn btn-primary" id="pickfiles">
                                    <%= labels.upload %> 
                                </a>
                            </div>
                            <p id="uploadfiles" class="hide"></p>
                            <div class="upload-img-user">
                                <a class="btn btn-primary reset-img"><%=labels.reset%></a>
                            </div>
                            <div class="clear"></div>
                        </div>

                    </div>
                    <div class="profile-form ">

                        <div class="control-group">
                            <div class="controls">
                                <div class="design control-group edit-profile-firstname ">          
                                    <input placeholder="<%= labels.firstName %>" name="first_name" value="<%if(first_name != 'null'){print(first_name);}  %>" class="validate_required " maxlength="30"  id="first_name">            
                                </div>
                                <span class="error-message-profile"></span>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <div  class="design control-group control-group edit-profile-lastname">         
                                    <input placeholder="<%= labels.lastName %>" name="last_name" value="<%if(last_name != 'null'){print(last_name);}%>" class="validate_required " maxlength="30" id="last_name">            
                                </div>
                                <span class="error-message-profile"></span>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <div class="design control-group edit-profile-email">           
                                    <input placeholder="<%= labels.email %>" name="email" value="<%if(email != 'null'){print(email);}%>" class="validate_required " maxlength="30" id="email">            
                                </div>
                                <span class="error-message-profile"></span>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <div class="design edit-profile-username">            
                                    <input placeholder="<%= labels.userName %>"  name="username" value="<%if(username != 'null'){print(username);}%>" class="validate_required " maxlength="30" id="username">            
                                </div>
                                <span class="error-message-profile"></span>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <div class="design">    
                                    <select placeholder="<%= labels.gender%>" id ="gender-edit-profile" name="gender">
                                        <option value= 'MALE' selected="selected"><%= labels.male %></option>
                                        <option value= 'FEMALE'><%= labels.female %></option>                     
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <div class="birthdate design">                   
                                    <input placeholder="روز" name="birth_date_day" value="<%=day%>" id="birth_date_day">
                                    <label>/</label>
                                    <input placeholder="ماه" name="birth_date_month" id="birth_date_month" value="<%=month%>">
                                    <label>/</label>
                                    <input placeholder="سال" name="birth_date_year" id="birth_date_year"    value="<%=year%>">                                                        
                                </div>
                                 <span class="error-message-profile"></span>
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <div class="controls">
                                <div class="design"> 
                                    <input placeholder="<%= labels.phone %>" name="phone <%=phone%>" value="<% if(phone != 'null'){print(phone);}%>"  maxlength="30" id="phone">            
                                     <span class="error-message-profile"></span>
                                </div>
                            </div>
                        </div>

                        <div class="design"> 
                            <select placeholder="<%= labels.locale %>" id="locale-edit-profile" name="locale">
                                <option value="en" selected="selected">English</option>
                                <option value="de">Deutsch</option>
                                <option value="es">Espanol</option>
                                <option value="fr">Francais</option>
                                <option value="it">Italiano</option>
                                <option value="pt_BR">Portugues (Brasil)</option>
                            </select>
                        </div>

                        <div class="design">      
                            <select placeholder="<%= labels.country%>" id="country-edit-profile"  name="country">
                                <option value="GB">United Kingdom</option>
                                <option value="AF">Afghanistan</option>
                                <option value="AX">Aland Islands</option>
                                <option value="AL">Albania</option>
                                <option value="DZ">Algeria</option>
                                <option value="AS">American Samoa</option>
                                <option value="AD">Andorra</option>
                                <option value="AO">Angola</option>
                                <option value="AI">Anguilla</option>
                                <option value="AQ">Antarctica</option>
                                <option value="AG">Antigua and Barbuda</option>
                                <option value="AR">Argentina</option>
                                <option value="AM">Armenia</option>
                                <option value="AW">Aruba</option>
                                <option value="AU">Australia</option>
                                <option value="AT">Austria</option>
                                <option value="AZ">Azerbaijan</option>
                                <option value="BS">Bahamas</option>
                                <option value="BH">Bahrain</option>
                                <option value="BD">Bangladesh</option>
                                <option value="BB">Barbados</option>
                                <option value="BY">Belarus</option>
                                <option value="BE">Belgium</option>
                                <option value="BZ">Belize</option>
                                <option value="BJ">Benin</option>
                                <option value="BM">Bermuda</option>
                                <option value="BT">Bhutan</option>
                                <option value="BO">Bolivia</option>
                                <option value="BA">Bosnia and Herzegovina</option>
                                <option value="BW">Botswana</option>
                                <option value="BV">Bouvet Island</option>
                                <option value="BR">Brazil</option>
                                <option value="IO">British Indian Ocean Territory</option>
                                <option value="BN">Brunei Darussalam</option>
                                <option value="BG">Bulgaria</option>
                                <option value="BF">Burkina Faso</option>
                                <option value="BI">Burundi</option>
                                <option value="KH">Cambodia</option>
                                <option value="CM">Cameroon</option>
                                <option value="CA">Canada</option>
                                <option value="CV">Cape Verde</option>
                                <option value="KY">Cayman Islands</option>
                                <option value="CF">Central African Republic</option>
                                <option value="TD">Chad</option>
                                <option value="CL">Chile</option>
                                <option value="CN">China</option>
                                <option value="CX">Christmas Island</option>
                                <option value="CC">Cocos (Keeling) Islands</option>
                                <option value="CO">Colombia</option>
                                <option value="KM">Comoros</option>
                                <option value="CG">Congo</option>
                                <option value="CD">Congo, The Democratic Republic of the</option>
                                <option value="CK">Cook Islands</option>
                                <option value="CR">Costa Rica</option>
                                <option value="CI">Cote d'Ivoire</option>
                                <option value="HR">Croatia</option>
                                <option value="CU">Cuba</option>
                                <option value="CY">Cyprus</option>
                                <option value="CZ">Czech Republic</option>
                                <option value="DK">Denmark</option>
                                <option value="DJ">Djibouti</option>
                                <option value="DM">Dominica</option>
                                <option value="DO">Dominican Republic</option>
                                <option value="EC">Ecuador</option>
                                <option value="EG">Egypt</option>
                                <option value="SV">El Salvador</option>
                                <option value="GQ">Equatorial Guinea</option>
                                <option value="ER">Eritrea</option>
                                <option value="EE">Estonia</option>
                                <option value="ET">Ethiopia</option>
                                <option value="FK">Falkland Islands (Malvinas)</option>
                                <option value="FO">Faroe Islands</option>
                                <option value="FJ">Fiji</option>
                                <option value="FI">Finland</option>
                                <option value="FR">France</option>
                                <option value="GF">French Guiana</option>
                                <option value="PF">French Polynesia</option>
                                <option value="TF">French Southern Territories</option>
                                <option value="GA">Gabon</option>
                                <option value="GM">Gambia</option>
                                <option value="GE">Georgia</option>
                                <option value="DE">Germany</option>
                                <option value="GH">Ghana</option>
                                <option value="GI">Gibraltar</option>
                                <option value="GR">Greece</option>
                                <option value="GL">Greenland</option>
                                <option value="GD">Grenada</option>
                                <option value="GP">Guadeloupe</option>
                                <option value="GU">Guam</option>
                                <option value="GT">Guatemala</option>
                                <option value="GG">Guernsey</option>
                                <option value="GN">Guinea</option>
                                <option value="GW">Guinea-Bissau</option>
                                <option value="GY">Guyana</option>
                                <option value="HT">Haiti</option>
                                <option value="HM">Heard Island and McDonald Islands</option>
                                <option value="VA">Holy See (Vatican City State)</option>
                                <option value="HN">Honduras</option>
                                <option value="HK">Hong Kong</option>
                                <option value="HU">Hungary</option>
                                <option value="IS">Iceland</option>
                                <option value="IN">India</option>
                                <option value="ID">Indonesia</option>
                                <option value="IR">Iran, Islamic Republic of</option>
                                <option value="IQ">Iraq</option>
                                <option value="IE">Ireland</option>
                                <option value="IM">Isle of Man</option>
                                <option value="IL">Israel</option>
                                <option value="IT">Italy</option>
                                <option value="JM">Jamaica</option>
                                <option value="JP">Japan</option>
                                <option value="JE">Jersey</option>
                                <option value="JO">Jordan</option>
                                <option value="KZ">Kazakhstan</option>
                                <option value="KE">Kenya</option>
                                <option value="KI">Kiribati</option>
                                <option value="KP">Korea, Democratic People's Republic of</option>
                                <option value="KR">Korea, Republic of</option>
                                <option value="KW">Kuwait</option>
                                <option value="KG">Kyrgyzstan</option>
                                <option value="LA">Lao People's Democratic Republic</option>
                                <option value="LV">Latvia</option>
                                <option value="LB">Lebanon</option>
                                <option value="LS">Lesotho</option>
                                <option value="LR">Liberia</option>
                                <option value="LY">Libyan Arab Jamahiriya</option>
                                <option value="LI">Liechtenstein</option>
                                <option value="LT">Lithuania</option>
                                <option value="LU">Luxembourg</option>
                                <option value="MO">Macao</option>
                                <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                                <option value="MG">Madagascar</option>
                                <option value="MW">Malawi</option>
                                <option value="MY">Malaysia</option>
                                <option value="MV">Maldives</option>
                                <option value="ML">Mali</option>
                                <option value="MT">Malta</option>
                                <option value="MH">Marshall Islands</option>
                                <option value="MQ">Martinique</option>
                                <option value="MR">Mauritania</option>
                                <option value="MU">Mauritius</option>
                                <option value="YT">Mayotte</option>
                                <option value="MX">Mexico</option>
                                <option value="FM">Micronesia, Federated States of</option>
                                <option value="MD">Moldova</option>
                                <option value="MC">Monaco</option>
                                <option value="MN">Mongolia</option>
                                <option value="ME">Montenegro</option>
                                <option value="MS">Montserrat</option>
                                <option value="MA">Morocco</option>
                                <option value="MZ">Mozambique</option>
                                <option value="MM">Myanmar</option>
                                <option value="NA">Namibia</option>
                                <option value="NR">Nauru</option>
                                <option value="NP">Nepal</option>
                                <option value="NL">Netherlands</option>
                                <option value="AN">Netherlands Antilles</option>
                                <option value="NC">New Caledonia</option>
                                <option value="NZ">New Zealand</option>
                                <option value="NI">Nicaragua</option>
                                <option value="NE">Niger</option>
                                <option value="NG">Nigeria</option>
                                <option value="NU">Niue</option>
                                <option value="NF">Norfolk Island</option>
                                <option value="MP">Northern Mariana Islands</option>
                                <option value="NO">Norway</option>
                                <option value="OM">Oman</option>
                                <option value="PK">Pakistan</option>
                                <option value="PW">Palau</option>
                                <option value="PS">Palestinian Territory, Occupied</option>
                                <option value="PA">Panama</option>
                                <option value="PG">Papua New Guinea</option>
                                <option value="PY">Paraguay</option>
                                <option value="PE">Peru</option>
                                <option value="PH">Philippines</option>
                                <option value="PN">Pitcairn</option>
                                <option value="PL">Poland</option>
                                <option value="PT">Portugal</option>
                                <option value="PR">Puerto Rico</option>
                                <option value="QA">Qatar</option>
                                <option value="RE">Reunion</option>
                                <option value="RO">Romania</option>
                                <option value="RU">Russian Federation</option>
                                <option value="RW">Rwanda</option>
                                <option value="BL">Saint Barthelemy</option>
                                <option value="SH">Saint Helena</option>
                                <option value="KN">Saint Kitts and Nevis</option>
                                <option value="LC">Saint Lucia</option>
                                <option value="MF">Saint Martin</option>
                                <option value="PM">Saint Pierre and Miquelon</option>
                                <option value="VC">Saint Vincent and the Grenadines</option>
                                <option value="WS">Samoa</option>
                                <option value="SM">San Marino</option>
                                <option value="ST">Sao Tome and Principe</option>
                                <option value="SA">Saudi Arabia</option>
                                <option value="SN">Senegal</option>
                                <option value="RS">Serbia</option>
                                <option value="SC">Seychelles</option>
                                <option value="SL">Sierra Leone</option>
                                <option value="SG">Singapore</option>
                                <option value="SK">Slovakia</option>
                                <option value="SI">Slovenia</option>
                                <option value="SB">Solomon Islands</option>
                                <option value="SO">Somalia</option>
                                <option value="ZA">South Africa</option>
                                <option value="GS">South Georgia and the South Sandwich Islands</option>
                                <option value="ES">Spain</option>
                                <option value="LK">Sri Lanka</option>
                                <option value="SD">Sudan</option>
                                <option value="SR">Suriname</option>
                                <option value="SJ">Svalbard and Jan Mayen</option>
                                <option value="SZ">Swaziland</option>
                                <option value="SE">Sweden</option>
                                <option value="CH">Switzerland</option>
                                <option value="SY">Syrian Arab Republic</option>
                                <option value="TW">Taiwan, Province of China</option>
                                <option value="TJ">Tajikistan</option>
                                <option value="TZ">Tanzania, United Republic of</option>
                                <option value="TH">Thailand</option>
                                <option value="TL">Timor-Leste</option>
                                <option value="TG">Togo</option>
                                <option value="TK">Tokelau</option>
                                <option value="TO">Tonga</option>
                                <option value="TT">Trinidad and Tobago</option>
                                <option value="TN">Tunisia</option>
                                <option value="TR">Turkey</option>
                                <option value="TM">Turkmenistan</option>
                                <option value="TC">Turks and Caicos Islands</option>
                                <option value="TV">Tuvalu</option>
                                <option value="UG">Uganda</option>
                                <option value="UA">Ukraine</option>
                                <option value="AE">United Arab Emirates</option>
                                <option value="US" selected="selected">United States</option>
                                <option value="UM">United States Minor Outlying Islands</option>
                                <option value="UY">Uruguay</option>
                                <option value="UZ">Uzbekistan</option>
                                <option value="VU">Vanuatu</option>
                                <option value="VE">Venezuela</option>
                                <option value="VN">Viet Nam</option>
                                <option value="VG">Virgin Islands, British</option>
                                <option value="VI">Virgin Islands, U.S.</option>
                                <option value="WF">Wallis and Futuna</option>
                                <option value="EH">Western Sahara</option>
                                <option value="YE">Yemen</option>
                                <option value="ZM">Zambia</option>
                                <option value="ZW">Zimbabwe</option>
                            </select>
                        </div>
<!--                        <input id="inputosaurus" name="keywords" placeholder ="<%=labels.favoriteKeywords%>">-->

                        <div class="design">   
                            <textarea placeholder="<%=labels.about%>" name="about" value="<% if(about != 'null'){print(about);}%>"  maxlength="30" id="about"><% if(about != 'null'){print(about);}%></textarea>            
                        </div>

                        <div class="btn-save-detail design email-setting-save">
                            <span class="success-setting"><%=labels.saveSuccess%></span>
                            <span class="error-setting"><%=labels.saveFail%></span>
                            <a class="btn btn-primary" id ="save-detail" href="/sites/sites/edit/id/3"><%=labels.save%></a>
                            <div class="clear"></div>
                        </div>  
                        </form>
                    </div>   

                    <div style="clear:both"></div>

                </div>
            </form>
        </div>
    </div>
    <div class="span2"></div>
    <br/>
</div>
