<div class="filters-container navbar navbar-static-top" id="primary-nav">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav navbar-3">
                <li><a href="users#settings/edit-profile" data-type="basic" ><%=labels.general%></a></li>
                <li><a href="/users#settings/changePassword" data-type="password"><%=labels.password%></a></li>             
                <li><a href="/users#settings/emailSettings" data-type="notifications"><%=labels.notifications%></a></li>
                <li><a href="/users#settings/websitesSettings" data-type="websites" ><%=labels.websites%></a></li>
                <li><a href="/users#settings/postsSettings" data-type="posts" ><%=labels.privacy%></a></li>
            </ul>
        </div>
    </div>
    <span class="shadow-toolbar"></span>
</div>


