<div id ="header-container"></div>
<div class="filters-container navbar navbar-static-top" id="primary-nav">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav pull-right">
                <li><a data-type="beads"><%=labels.beads%>&nbsp;<%=(parseInt(site_following_count))%></a></li>
                <li><a data-type="posts"><%=labels.post%></a></li>        
                <li><a data-type="followers"><%=labels.followers%>&nbsp;<%=follower_count%></a></li>
                <li><a data-type="followingUsers"><%=labels.following%>&nbsp;<%=user_following_count%></a></li>
             </ul>
         </div>
    </div>
 </div>
<div class="clear"></div>
<div class="list-container">    
    <div class="list container">
        <ul class="feeds-holder container-boxes"></ul>
    </div>
</div>
<div class="cr-pagination"><span><%= labels.next_page %></span></div>






