<div class="row row-fluid show-grid">
    <div class="col-sm-12" style="padding: 5px;">
        <div class="input-append" style="
                                text-align: right;
                                margin-right: 25px;
                                margin-top: 5px;">
            <input style="
                   background-color: #FFFFFF;
                   text-align: center;
                   " class="" id="search_user" lang="fa" type="text" placeholder="شماره کاربری را وارد نماپید.‏">
            <button class="btn search" type="button">جستجو</button>
        </div>
    </div>
</div>
<div id="users-list" class="list"></div>