<?php
if (isset($this->found) && $this->found) {
    $config  = Zend_Registry::get('config');
    $redirec = Zend_Controller_Action_HelperBroker::getStaticHelper('Redirector');
    if ($this->first_login) {
        //$redirec->gotoUrl($config->oauth->redirect_after_login);
        $redirec->gotoUrl("/invites#facebook");
    } else {
        $redirec->gotoUrl($config->app->url);
    }
    return;
}
?>
<div id="center-wrapper" style="margin-top:90px">
    <div class="alert alert-error">
        Error!  <?=$this->error?>
    </div>
    <a class="btn btn-info" href="<?=$this->url(array('module'=>'default', 'controller' => 'auth', 'action' => 'facebook'))?>">Try again</a>
</div>