
<div class ="itemuser1">
    <a class =".linkforusername">
        <img src="/img/GrayNoProfilePic.png">
        <b><%= first_name + ' ' + last_name %></b>
    </a>
    
    <% if( status == "BLOCKED") { %>
        <a class ="linkforusername link" data-type ="WAITING">
            UnBlock
        </a>   
    <% }else { %>
        <a class ="linkforusername link" data-type="BLOCKED">
            Block
        </a>    
    <% } %>
        <a href="#modal-change-password-user" role="button" class ="linkforusername link password" data-toggle="modal">
            Change Password
        </a>    
</div>    








